/*  ------Global Reset------ */
@import "normalize.css";

/* #0d9efb = Blue
   #ea292a = Red
   #0d507b = DK Blue
   #bcb914 = Green
*/


#wrapper {
max-width: 960px;
width: 100%;
height: auto;
margin: auto;
/*padding: 2%;*/
}
 
body {
}

#header {
width: 100%;
height: 70px;
}

#nav_menu {
width: 100%;
}

#main {
	height: 222px;
	
}

#main img {
	float: right;
	
}

#main h1  {
	color: #66FF00;
	
}

#main_content {
	width: 41.979167%;
	color: #66FF00;
	float: left;
	clear: left;
	
}

#cta_block {
	width: 93.75%;
	height: 95px;
	margin-bottom: 5.208333%;

}

#left_block {
	width: 46.875%;
	height: 480px;
	float: left;
	clear: left;
	
}

aside {
	width: 43.229167%;
	height: 322px;
	float: right;
	clear: right;
	
}

#teaser {
	width: 43.229167%;
	height: 135px;
	float: right;
	clear:both;
	
}

/*footer {
	position: absolute; 
	bottom: 0; 
	width:100%; 
	height:130px;
	
}*/


/*----------------Media_Queries_______________*/

@media only screen and (min-width: 768px) and (max-width: 959px) {

	 
	 
	
}

@media only screen and (min-width: 480px) and (max-width: 766px) {
header nav, #main, aside {
float: left;
clear: left;
margin: 0 0 10px;
width: 100%;
}

header nav li {
margin: 0;
background: #efefef;
display: block;
margin-bottom: 3px;
}

header nav a {
display: block;
padding: 10px;
text-align: center;
}

}

@media only screen and (max-width: 487px) {

#wrapper {
width: 96%;
max-width: 960px;
margin: auto;
padding: 2%;
}

#main {
width: 100%;
margin-right: 5%;
float: left;
clear: left;
}

#main h1 {
color: #CCC;

}

#main_content {
float: left;
	
}

#main img {
max-width: 100%;
	
}

#cta_block {
width: 100%;
	
}

aside {
width: 35%;
float: left;
}


/* Nav */
#nav_menu {
float: right;
margin-top: 40px;
}

header nav li {
display: inline;
margin-left: 15px;
}


	 
	
	
}

	