/*  ------Global Reset------ */
@import "normalize.css";

/* #0d9efb = Blue
   #ea292a = Red
   #0d507b = DK Blue
   #bcb914 = Green
*/

body {
	width: 960px;
	margin: 0, auto;
	background: #FFF;
	}
	
#header {
	margin: 0px, auto;
	background-color: #0d9efb;
	height: 70px;
	
	}
	
#nav_menu {
	margin: 5px 0px, 0px, 25px;
	height: 50px;
	background-color: #0d9efb;
	
	}
	
#nav_menu ul {
	padding: 15px;

	}
	
#nav_menu li {
	padding: 15px;
	display: inline;
	
	}
	
.sld_container {
	width: 960px;
	height: 220px;
	background-color: red;
	
	}
	
.remove-bottom {
	padding-top: 15px;
	margin-left: 60px;
	font-family: 'Cuprum', sans-serif;
	
		
	}
	
#main_content {
	width: 465px;
	margin-left: 60px;
	
	}
	
.cta_block {
	margin: 30px;
	width: 900px;
	height: 96px;
	background-color: #bcb914;
	
	
	}
	
.aside_left {
	width: 450px;
	height: 480px;
	background-color: #0d9efb;
	margin-left: 30px;
	float: left;
	clear: both;
	}

.aside_left h3 {
	padding-top: 15px;
	margin-left: 25px;
	}
	
.aside_right {
	margin-bottom: 33px;
	width: 417px;
	height: 313px;
	background-color: #0d9efb;
	margin-right: 30px;
	float: right;
}

.teaser {
	background-color: #0d9efb;
	width: 417px;
	height: 133px;
	float: right;
	margin-right: 30px;
	
	
	}
	
footer {
	width: 960px;
	height: 130px;
	background-color: #0d9efb;
	padding-top: 25px;
	}
	
	